<html>
  <head></head>
  <body><div class="top-wrapper">
    <div class="top-inner-text">
      <h1>パチスロ｜当たり末尾発見ツール「Arisou」</h1>
    </div>
  </div>
  </body>
</html>
<h2>StaticPages#top</h2>
<p>Find me in app/views/static_pages/top.html.erb</p>
