<header>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <p class="text mt-3">パチスロ末尾発見ツール Arisou</p>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header text-bg-dark">
          <h5 class="offcanvas-title">メニュー</h5>
          <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav">
            <li class="nav-item"><%= link_to (t 'users.new.title'), new_user_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to (t 'defaults.login'), login_path , class: 'nav-link' %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
